<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>St. Louis Anne Colleges</title>
    {% load static %}
    <link rel="icon" type="image/jpeg" href="{% static 'CS/BGBG2.jpeg' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'CS/Css.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CS/responsive.css' %}">

</head>

<body>


                <!-----sidebar------------->

                <button id="scrollToTopBtn" aria-label="Scroll to top">
        <i class="fa-solid fa-arrow-up" ></i>
    </button>

				<div class="wrapper">
					<aside id="sidebar" class="js-sidebar">
						<div class="h-100">
							<div class="sidebar-logo">
								<!----<a href="#"><h2>SLAC</h2></a>--->
							</div>
                <ul class="sidebar-nav">
                    
                    <li class="sidebar-item">
                        <a href="{% url 'staff_dashboard' %}" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Home
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse"
                            aria-expanded="false"><i class="fa-solid fa-book-open"></i>
                            Department
                        </a>
                        <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="{% url 'SMSstaffit' %}" class="sidebar-link">College  of Computer Studies</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="{% url 'SMSstaffba' %}" class="sidebar-link">College  of Business Administration</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="{% url 'SMSstaffhm' %}" class="sidebar-link">College  of Hospitality Management</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="{% url 'SMSstaffA' %}" class="sidebar-link">College  of Accountancy</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="{% url 'SMSstaffE' %}" class="sidebar-link">College of Education </a>
                            </li>
                        </ul>
                    </li>
                    
                   <!---<li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#auth" data-bs-toggle="collapse"
                            aria-expanded="false"><i class="fa-regular fa-user pe-2"></i>
                            Sudent
                        </a>
                   
                    </li>---> 
                   
					<!---<li class="sidebar-item">
                        <a href="{% url 'SMSsubjectsave' %}" class="sidebar-link collapsed" 
                            aria-expanded="false"><i class="fa-solid fa-sliders pe-2"></i>
                            View Subject
                        </a>
                    </li>-->

                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#multi" data-bs-toggle="collapse"
                            aria-expanded="false"><i class="fa-solid fa-share-nodes pe-2"></i>
                            Setting
                        </a>
                        <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="{% url 'accountstaff' %}" class="sidebar-link">Account</a>
                                    <a href="{% url 'logout' %}" class="sidebar-link" aria-expanded="false">Logout</a>
                                
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>

								<!----------nav-------------->

								<nav class="main">
									<nav class="navbar navbar-expand px-3 border-bottom justify-content-center fixed-top">
										<button class="btn" id="sidebar-toggle" type="button">
											<span class="navbar-toggler-icon"></span>
										</button>
									
									<div class="navbar-brand-text d-flex align-items-center gap-2 justify-content-center w-100">
										<img src="{% static 'CS/BGBG2.jpeg' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
										<h1 class="m-0"> St. Louis Anne Colleges of San Pedro, Laguna</h1>
									</div>
									
										<div class="navbar-collapse navbar">
											<ul class="navbar-nav">
												<li class="nav-item dropdown">
												
									
												</li>
											</ul>
										</div>
									</nav>

	 <!-- <h3 class="HN">Home</h3>-->

          <!-----  {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}-->

           <div id="collegeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#collegeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#collegeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#collegeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#collegeCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#collegeCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">

                    <div class="carousel-item active bg-image-it">
                        <div class="values d-flex justify-content-center">
                            <div class="box text-center">
                                
<h4>College of Computer Studies Where Technology Meets Creativity.</h4>
<button class="transparent-button" onclick="window.location.href='https://www.facebook.com/slaccomputerstudies'">Connect with Us Today!</button>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item bg-image-ba">
                        <div class="values d-flex justify-content-center">
                            <div class="box text-center">
<h4>College of Business Administration Leading with Integrity, Succeeding with Purpose.</h4>
<button class="transparent-button" onclick="window.location.href='https://www.facebook.com/BusinessAdministrationSLAC'">Connect with Us Today!</button>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item bg-image-hm">
                        <div class="values d-flex justify-content-center">
                            <div class="box text-center">
<h4>College of Hospitality Management Service with a Smile, Leadership with Purpose.</h4>
<button class="transparent-button"onclick="window.location.href='https://www.facebook.com/slac.hmdepartment'">Connect with Us Today!</button>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item bg-image-ca">
                        <div class="values d-flex justify-content-center">
                            <div class="box text-center">
<h4>College of Accountancy Precision in Numbers, Integrity in Practice.</h4>
<button class="transparent-button" onclick="window.location.href='https://www.facebook.com/profile.php?id=100075814848420'">Connect with Us Today!</button>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item bg-image-ed">
                        <div class="values d-flex justify-content-center">
                            <div class="box text-center">
<h4>College of Education Inspiring Educators, Transforming Lives.</h4>
<button class="transparent-button" onclick="window.location.href='https://www.facebook.com/EdukSLAC'" >Connect with Us Today!</button>
                            </div>
                        </div>
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#collegeCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#collegeCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!-------SLAC val-------->

            <div class="con1">
                <h2 >Slac Hymn</h2>
                <p class="Hy">
                    Saint Louis Anne Colleges <br>
                    We are always with thee<br>
                    As true sons and daughters <br>
                    Loyal to our Alma Mater<br>
                    Here we have come to pledge<br>
                    And brave hearts<br>
                    To preserve thy god Name<br>
                    Our beloved Saint Louis Anne Colleges<br>
                    Your glorious name will always hail <br>
                    Here we sing with prayers<br>
                    Forever and ever<br>
                    Aware of our duty to God and Country<br>
                    We'll rally to your banner<br>
                    To lead us forever, and ever.
                </p>
            </div>

<div class="bg-image-bg1"></div>
            <div class="con">
                
                <h2 >Mission and Vision</h2>
                <h4>Mission</h4>
                <p >To be known as the Provider of excellent quality education with an academic environment that will lead the youth to become productive individuals and useful citizens.</p>
                <h4>Vision</h4>
                <p>St. Louis Anne Colleges of San Pedro Laguna, Inc., Envisions itself as a provider of quality education among the youth that would augment the need for a beneficial life through excellent community services.</p>
            </div>
            

            

            
        </nav>
  

    <script src="{% static 'CS/sidebar-toggle-v2.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var carouselElement = document.getElementById('collegeCarousel');
            var carousel = bootstrap.Carousel.getInstance(carouselElement);
            if (!carousel) {
                carousel = new bootstrap.Carousel(carouselElement);
            }

            var items = carouselElement.querySelectorAll('.carousel-item');
            items.forEach(function (item) {
                item.addEventListener('click', function (event) {
                    var rect = item.getBoundingClientRect();
                    var clickX = event.clientX - rect.left;
                    var width = rect.width;
                    if (clickX < width * 0.25) {
                        carousel.prev();
                    } else if (clickX > width * 0.75) {
                        carousel.next();
                    }
                    // clicks in the middle 50% do nothing
                });
            });

            // Hide the dropdown toggle button when dropdown menu is shown, show it when hidden
            var dropdownElement = document.getElementById('navbarDropdown');
            var dropdownMenu = dropdownElement.nextElementSibling;

            dropdownMenu.addEventListener('show.bs.dropdown', function () {
                dropdownElement.style.display = 'none';
            });

            dropdownMenu.addEventListener('hide.bs.dropdown', function () {
                dropdownElement.style.display = 'inline-block';
            });
        });

        // Scroll to top button functionality
        var scrollToTopBtn = document.getElementById('scrollToTopBtn');

        window.addEventListener('scroll', function () {
            if (window.scrollY > 300) {
                scrollToTopBtn.style.display = 'flex';
            } else {
                scrollToTopBtn.style.display = 'none';
            }
        });

        scrollToTopBtn.addEventListener('click', function () {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
    </script>

</body>
</html>
